<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Connect with Strangers</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="landing vh-100 align-items-center container-fluid hero-section text-center d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-1">Connect.Converse.<br>Disappear !</h1>
    <p class="lead">CONNECT WITH STRANGERS AROUND THE WORLD</p>
    <a href="/chat" class="btnsend btn btn-warning btn-lg">Start Chatting</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>

